<app-header titulo="facturación"></app-header>

<ion-content>
  <ion-card *ngFor="let row of rows">
    <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let invoice of convertToArray(invoices[0].rows[row]); let i = index" [ngClass]="{hidden:!invoice.show}">
            <ion-label *ngIf="headers[i].show && invoice.formattedValue">{{headers[i].label}}: {{invoice.formattedValue}}</ion-label>
            <ion-label *ngIf="headers[i].show && !invoice.formattedValue">{{headers[i].label}}: {{invoice.value}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button slot="end" class="top-20" expand="block" (click)="downloadPdf(invoices[0].rows[row])" download>{{pdf.label}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
